*{  font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
width: 0px;
height: 0px;
}

img{width: 100vw;}

a{  color: white;
    background-color: blue;
    display: block  ;
    text-align: center;
    padding: 20px;

}
a:hover{
    background-color: rgba(0, 0, 255, 0.753);
}
body{
    background-color: black;
}